{% extends "base.njk" %}
{% set title = home[locale].title%}
{% set homeText = home[locale].homeText%}
{% block content %}
<main>
    <h1>{{title}}</h1>
    <p>{{homeText}}</p>
</main>
{% endblock content %}
